<br>
<h1>Customer</h1>
<br>
<div>
  <div class="form-row">
    <div class="form-group col-md-6">

      <input class="form-control" placeholder="Customer ID" name="cusname" id=#City [(ngModel)]="customerDto.cid"  required  minlength="2"  >
    </div>
    <div class="form-group col-md-6">

      <input  class="form-control" placeholder="Customer Name" name="cusAddress" [(ngModel)]="customerDto.name" required  minlength="2"  >
    </div>
    <div class="form-group col-md-6">

      <input  class="form-control" placeholder="Customer Address" name="cusAddress" [(ngModel)]="customerDto.address" required  minlength="2"  >
    </div>
    <div class="form-group col-md-6">

      <input  class="form-control" placeholder="Customer Mobile" name="cusAddress" [(ngModel)]="customerDto.mobile" required  minlength="2"  >
    </div>
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-primary" (click)="addCustomer()">Save</button>

  <br>
  <br>
  <br>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customerList" (click)="loadCustomer(customer)">
      <td>{{customer.cid}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.mobile}}</td>
    </tr>
    </tbody>
  </table>
</div>
