<aside class="sidebar">
  <div class="main-div">
    <ul class="ul-list">
      <li>
        <button type="button" class="btn btn-light" routerLink="dashboard">Dash Board</button>
      </li>
      <li>
        <button type="button" class="btn btn-light" routerLink="customer">Customer</button>
      </li>
      <li>
        <button type="button" class="btn btn-light" routerLink="item">Item</button>
      </li>
      <li>
        <button type="button" class="btn btn-light" routerLink="orders">Order</button>
      </li>
    </ul>
  </div>


</aside>

