<!-- Welcome Section -->
<section id="welcome">
  <div class="welcome-section section-padding">
    <div class="section-title-container">
      <h2 class="section-title">Welcome</h2>
    </div><!-- /.section-title-container -->

    <div class="row">
      <div id="welcome-slider"  class="owl-carousel owl-theme">
        <div class="item col-xs-12">
          <div class="welcome-post wow fadeIn animated" data-wow-delay="0.1s">
            <div class="hex welcome-hex">
											<span class="hex-icon">
												<i class="fa fa-glass"></i>
											</span><!-- /.hex-icon -->
            </div><!-- /.welcome-hex -->
            <h3 class="welcome-title"> Delicious Food </h3>
            <p class="welcome-texts">
              Oreo Cookie Pancakes, Mac ‘n’ Cheese Burger, Fried Nutella Banana Hand Pies,Bacon- Egg and Cheese Eggo Waffle Sandwich and delicious food available.
            </p><!-- /.welcome-texts -->
          </div><!-- /.welcome-post -->
        </div><!-- /.item -->


        <div class="item col-xs-12">
          <div class="welcome-post wow fadeIn animated" data-wow-delay="0.2s">
            <div class="hex welcome-hex">
											<span class="hex-icon">
												<i class="fa fa-birthday-cake"></i>
											</span><!-- /.hex-icon -->
            </div><!-- /.welcome-hex -->
            <h3 class="welcome-title"> Great Taste </h3>
            <p class="welcome-texts">
              Having a well-educated staff and customer flow are important elements when launching a flexible-format service model. We work together and try out best.
            </p><!-- /.welcome-texts -->
          </div><!-- /.welcome-post -->
        </div><!-- /.item -->


        <div class="item col-xs-12">
          <div class="welcome-post wow fadeIn animated" data-wow-delay="0.3s">
            <div class="hex welcome-hex">
											<span class="hex-icon">
												<i class="fa fa-thumbs-o-up"></i>
											</span><!-- /.hex-icon -->
            </div><!-- /.welcome-hex -->
            <h3 class="welcome-title"> TopClass Service </h3>
            <p class="welcome-texts">
              Having a well-educated staff and customer flow are important elements when launching a flexible-format service model. We work together and try out best.
            </p><!-- /.welcome-texts -->
          </div><!-- /.welcome-post -->
        </div><!-- /.item -->
      </div><!-- /#welcome-slider -->
    </div><!-- /.row -->

    <div class="best-deal">
      <img src="images/welcome/foods-in-tray.jpg" alt="Foods Image" class="foods-img">
      <div class="best-deal-content">
        <div class="row">
          <div class="col-sm-6 pull-right">
            <h3 class="deal-txt-1"> Best Deal </h3>
            <h3 class="deal-txt-2"> Chicken Fry + Beef Grills  </h3>
            <h4 class="deal-txt-3"> Only @ <span>$25</span> </h4>
          </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
      </div><!-- /.best-deal-content -->
    </div><!-- /.best-deal -->

  </div><!-- /.welcome-section -->
</section><!-- /#welcome -->
<!-- Welcome Section End -->
